@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  overflow: hidden;
}

@keyframes text-rotation {
  to {
    rotate: 360deg;
  }
}
